@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input { margin: 0; padding: 0; }

fieldset, img, input, button { border: none; padding: 0; margin: 0; outline-style: none; }

/*去掉input等聚焦时的蓝色边框*/
ul, ol { list-style: none; }

input { padding-top: 0; padding-bottom: 0; font-family: "SimSun","宋体"; }

select, input { vertical-align: middle; }

/*select, input, textarea { font-size:12px; margin:0; }*/
textarea { resize: none; }

/*防止拖动*/
img { border: 0; vertical-align: middle; }

/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse: collapse; }

body, button, input, select, textarea { font: 12px/1.5 "Microsoft YaHei", tahoma, arial, sans-serif, "\5b8b\4f53"; *line-height: 1.5; -ms-overflow-style: scrollbar; }

/*添加公共样式*/
/*body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}*/
.clearfix:after { content: ""; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; zoom: 1; }

a { color: #666; text-decoration: none; }

a:hover { color: #FF9E00; }

h1, h2, h3, h4, h5, h6 { text-decoration: none; font-weight: normal; font-size: 1em; }

/*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s, i, em { font-style: normal; text-decoration: none; }

/*公共类*/
.container { /*版心 提取 */ width: 1220px; margin: 0 auto; }

.fl { float: left; }

.fr { float: right; }

.al { text-align: left; }

.ac { text-align: center; }

.ar { text-align: right; }

.hide { display: none; }

.font12 { font-size: 12px; }

.font14 { font-size: 14px; }

.font16 { font-size: 16px; }

* { box-sizing: border-box; }

/*公共部分*/
.shouye { min-width: 980px; _width: expression(document.body.clientWidth < 980 ? "980px" : "auto"); /* (这是最小宽度）*/ }

/*---------------字体-----------------*/
/*@font-face { font-family: "iconfont"; src: url("../font/iconfont.eot");  src: url("../font/iconfont.eot#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
}
*/
/*.iconfont { font-family: "iconfont" !important; font-size: 12px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }

.icon-gouwuche:before { content: "\f0148"; }

.icon-dianhua:before { content: "\e640"; }

.icon-caidan:before { content: "\e627"; }

.icon-jiantou-copy:before { content: "\e62b"; }

.icon-wenhao5:before { content: "\e63a"; }

.icon-jiantou-copy1:before { content: "\e690"; }

.icon-twitter:before { content: "\e673"; }

.icon-caidan1:before { content: "\e62a"; }

.icon-facebook:before { content: "\e65c"; }

.icon-xinfeng:before { content: "\e734"; }

.icon-blog:before { content: "\e633"; }

.icon-jiangjia:before { content: "\e6ce"; }*/

.category .category_third:hover .category_second { border: 1px solid #FF5C00; border-right: 1px solid #fff; z-index: 33; }

.category .category_second:hover { border: 1px solid #FF5C00; border-right: 1px solid #fff; z-index: 33; }

.category li:hover .category_third { z-index: 2; border: 1px solid #FF5C00; display: block; }

.category .category_third { display: none; overflow: hidden; min-height: 358px; width: 948px; position: absolute; top: 0; left: 139px; background: #fff; }

.category .category_third .third_r { overflow: hidden; padding-left: 13px; }

.category .category_third .third_r a { width: 50%; float: left; }

.category .category_third .third_r img { height: 35px; margin: 10px auto; }

.category .category_third .third_l { width: 736px; float: left; }

.category .category_third .third_l .third_lbox { padding: 9px 30px; border-right: 1px dotted #ccc; }

.category .category_third .third_l .third_lbox dl { text-align: left; }

.category .category_third .third_l .third_lbox dl dt { border-bottom: 1px dotted #ccc; padding: 3px 0; }

.category .category_third .third_l .third_lbox dl dt a { color: #333; font-weight: bold; }

.category .category_third .third_l .third_lbox dl dd { line-height: 23px; padding: 8px 0; }

.category .category_third .third_l .third_lbox dl dd a { margin: 0 8px 0 0; }
